:root {
  font-size: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.portal-container {
  height: calc(100vh - 52px);
}

#portalFrame {
  height: 100%;
}
